<h1>IMI BOT Middleware</h1>
<p>Postman collection: <a href="https://www.getpostman.com/collections/83feb484383f7182f856">link</a></p>
<h5>Room config</h5>
<ul>
  <li>Message will be broadcaster to the room with same config (imi_bot_middleware_token doesn't need to be same)</li>
  <li>You can also use this api to push message to the room https://imi-bot-middleware.herokuapp.com/api/v1/socket/sendMessage</li>
</ul>
<textarea placeholder="configuration object" [(ngModel)]="config" name="" id="" cols="100" rows="10"></textarea>
<button (click)="saveInLC(config)">Save</button>
<br>

<textarea spellcheck="true" autoComplete="true" autocorrect="true" rows="1" class="chat-input" [(ngModel)]="message"
          placeholder="type message..." (keyup.enter)="addChat()"></textarea>
<button (click)="addChat()" slot="end" class="send-chat-button">send</button>
<br>
<!--There are currently <strong>{{users}}</strong> users online. Start chatting!-->
<h5>Messages</h5>
<div *ngFor="let message of messages">
  {{message}}
</div>

